<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img width="64" height="64" src="https://img.icons8.com/glyph-neue/64/school-building.png" alt="school-building"/>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="{% url 'cursos_list' %}">Lista de Cursos</a>
          <a class="nav-link" href="{% url 'crear_curso' %}">Crear Curso</a>
        </div>
      </div>
    </div>
</nav>